@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 12pt;
    font-family: "Gill sans", sans-serif;
}
header{
    margin: 25px;
    position: relative;
    color: rgb(181, 0, 0);
}
header h1{
    position: absolute;
    top: 38%;
    left: 33%;

   
 
}
header img{
    opacity: 0.7;
    width: 100%;
}

h2 {
    margin: 10px
}
h3 {
    margin: 10px 
}
p {
    margin: 10px 
}
form {
    margin: 10px 10px 0 10px 
} 


.gluten {font-weight: bold;}
#alkohol {font-weight: bold;}
#meat {font-weight: bold;}
#dontEat {font-weight: bold;
width: 300px;}

#burgerSection {
    background-color: black;
    color: white;
    border: 2px dashed white;
}
#informationSection {
    background-color: white;
    border: 2px dashed black;
}


button{
    margin: 0 25px;
}

button:hover {
   background-color: green;
   cursor: pointer;
}

section{
    margin: 25px;
}
div{
    margin: 10px;
    padding: 10px;  
}
.wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 25% 25% 25%;
}